<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='Background_32px.png') }}">
</head>
<body>
    <div class="options">
        <h1>Witaj, czas poklikać w Inglisz</h1>
        <div class="buttons">
            <a href="/flashcards" class="btn">Fiszki</a>
            <a href="/test" class="btn">Test</a>
        </div>
    </div>

<footer>
    © 2025 wuztur &#x1FAE1;
</footer>

</body>
</html>

