<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='Background_32px.png') }}">
</head>
<body>
    <div class="container">
        <h1>Test</h1>

        {% if result %}
            <p class="result">{{ result }}</p>
            <a href="/test" class="btn" autofocus>Następne pytanie</a>
        {% else %}
            <p class="word"><strong>Przetłumacz:</strong> {{ polish }}</p>
            <form method="POST">
                <input type="hidden" name="polish" value="{{ polish }}">
                <input type="text" name="answer" class="input-box" autocomplete="off" autocorrect="off" spellcheck="false" autofocus>
                <button type="submit" class="btn">Zatwierdź</button>
            </form>
        {% endif %}

        <br>
        <a href="/" class="btn back">Powrót do menu</a>
    </div>

<footer style="background-color: #333; color: white; text-align: center; padding: 10px; position: fixed; bottom: 0; width: 100%;">
    © 2025 wuztur &#x1FAE1;
</footer>

</body>
</html>
